@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body {
    background-color: #fffbf5;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.dictionary {
    font-family: 'Courier Prime', serif;
}

.title-name {
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    font-family: 'Cormorant Garamond', serif;
    /*  font-weight: normal; */
    font-size: 3.5em;
}

.punctuation-dot {
    color: #F11;
    font-size: 0.9em;
}

.red {
    color: #F11;
}

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.blurred {
    filter: blur(0.2em);
    opacity: 0.8;
}

.small-hidden {
    display: none;
}

a {}

a:link,
a:visited {
    color: #F11;
    text-decoration: none;
    text-decoration-color: #000;
    text-decoration-thickness: 2px;
}

@media screen and (min-width: 900px) {
  .small-hidden {
    display: block;
  }
  
  .dictionary {
    margin-left: 2em;
    width: 32em;
    text-indent: -1em;
    padding-left: 2em;
  }
}